.header {
  background: #41b6e6;
  color: white;
  font-size: 30px;
  padding: 60px;
  text-align: center;
  text-shadow: 3px 3px #003087;
}

h1 {
  text-align: center;
}

.galleryStrip div {
  padding: 10px;
}

.stripHeader h2 {
  float: left;
}

.stripHeader p {
  display: inline-block;
  float: right;
}

.stripImage img {
  width: 100%;
}

.stripQuote i {
  border-color: #41b6e6;
  color: #41b6e6;
}

.stripQuote p {
  text-align: justify;
  text-justify: inter-word;
}

.galleryBoundary p {
  background: #898d8d;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  max-width: 100%;
}