body {
  margin: auto;
  max-width: 1280px;
  padding: 10px;
}

a {
  color: #003087;
  text-decoration: none;
}

h1 {
  color: white;
}

h2 {
  color: black;
}

#header {
  background: #41b6e6;
  padding: 30px;
  text-align: center;
}

#header a,h2 {
  color: white;
}

#header .title {
  font-size: 60px;
  text-shadow: 3px 3px #003087;
}

#header .caption {
}

#header .follow h3,p {
  display: inline-block;
  color: #003087;
}

#footer {
  background: #41b6e6;
  padding: 20px;
  text-align: center;
}

#footer p {
  color: white;
  display: block;
  font-size: 20px;
}

#footer .copyright {
  font-weight: bold;
}

#gallery {
}

#gallery .galleryStrip div {
  padding: 10px;
}

#gallery .galleryStrip h2,p {
  display: inline-block;
}

#gallery .stripHeader h2 {
  float: left;
}

#gallery .stripHeader p {
  float: right;
}

#gallery .galleryStrip a {
  color: black;
}

#gallery .stripImage img {
  width: 100%;
}

#gallery .stripQuote i {
  border-color: #41b6e6;
  color: #41b6e6;
}

#gallery .stripQuote {
  text-align: justify;
  text-justify: inter-word;
}

#gallery .galleryBoundary {
  background: #898d8d;
  padding: 10px;
  text-align: center;
}

#gallery .galleryBoundary span {
  color: white;
  font-size: 20px;
}

#privacy p {
  color: black;
  display: block;
}