.header {
  background: #41b6e6;
  color: white;
  font-size: 30px;
  padding: 60px;
  text-align: center;
  text-shadow: 3px 3px #003087;
}

h1 {
  text-align: center;
}

.galleryStrip {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 98%;
}

.galleryStrip h2 {
  float: left;
}

.galleryStrip img {
  width: 100%;
}

.galleryStrip div {
  padding: 10px;
}

.galleryStrip div i {
  border-color: #41b6e6;
  color: #41b6e6;
}

.galleryStrip div p {
  text-align: justify;
  text-justify: inter-word;
}

.galleryBoundary p {
  background: #898d8d;
  color: white;
  font-size: 20px;
  padding: 40px;
  text-align: center;
}